<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.nft.mapper.WxUserMapper">
    <resultMap id="BaseResultMap" type="com.tencent.nft.entity.security.WxUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickname"/>
    </resultMap>

    <sql id="WxUser_Column_List">
        id, open_id, user_id, otp_secret, phone, nick_name, gender, city, province, country, avatar_url, last_login_time
    </sql>

    <sql id="WxUser_Vo_Column_List">
        open_id, user_id, phone, nick_name, gender, city, province, country, avatar_url, last_login_time
    </sql>

    <select id="selectFullByPhone" resultMap="BaseResultMap">
        select <include refid="WxUser_Column_List"/>
        from s_wx_user
        where phone = #{phone}
    </select>

    <select id="selectFullByOpenId" resultMap="BaseResultMap">
        select <include refid="WxUser_Column_List"/>
        from s_wx_user
        where open_id = #{openId}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select <include refid="WxUser_Vo_Column_List"/>
        from s_wx_user
        where phone = #{phone}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO s_wx_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">open_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="otpSecret != null">otp_secret,</if>
            <if test="phone != null">phone,</if>
            <if test="nickname != null">nick_name,</if>
            <if test="gender != null">gender,</if>
            <if test="city != null">city,</if>
            <if test="province != null">province,</if>
            <if test="country != null">country,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            create_time,update_time
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="openId != null">#{openId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="otpSecret != null">#{otpSecret},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="gender != null">#{gender},</if>
            <if test="city != null">#{city},</if>
            <if test="province != null">#{province},</if>
            <if test="country != null">#{country},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            now(), now()
        </trim>
    </insert>

    <update id="update">
        update s_wx_user
        <set>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="nickname != null and nickname != ''">nick_name = #{nickname},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
        </set>
        WHERE open_id = #{openId}
    </update>


    <select id="selectById" resultType="com.tencent.nft.entity.security.WxUser">
        select * FROM s_wx_user where id = #{id}
    </select>

    <select id="selectAllUser" resultType="com.tencent.nft.entity.security.WxUser">
        select * FROM s_wx_user
        <where>
            <if test="create_date != null and create_date != ''">
                and Date(create_time) = #{create_date}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
        </where>
    </select>

</mapper>