<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.nft.mapper.pay.ProductMapper">

    <resultMap id="BaseResultMap" type="com.tencent.nft.entity.nft.NFTProduct">
        <id column="id" jdbcType="BIGINT" property="id"/>
    </resultMap>

    <!-- reserve_end_time, sell_end_time, -->
    <sql id="Base_Column_List">
        id, nft_id, nft_name, nft_status, unit_price, circulation,
        reserve_start_time, sell_start_time, create_time, update_time
    </sql>

    <select id="selectByNftId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product
        where nft_id = #{nftId}
    </select>

    <insert id="insertProduct" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nftId != null">nft_id,</if>
            <if test="nftName != null">nft_name,</if>
            <if test="nftStatus != null">nft_status,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="circulation != null">circulation,</if>
            <if test="reserveStartTime != null">reserve_start_time,</if>
<!--            <if test="reserveEndTime != null">reserve_end_time,</if>-->
            <if test="sellStartTime != null">sell_start_time,</if>
<!--            <if test="sellEndTime != null">sell_end_time,</if>-->
            create_time, update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nftId != null">#{nftId},</if>
            <if test="nftName != null">#{nftName},</if>
            <if test="nftStatus != null">#{nftStatus},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="circulation != null">#{circulation},</if>
            <if test="reserveStartTime != null">#{reserveStartTime},</if>
<!--            <if test="reserveEndTime != null">#{reserveEndTime},</if>-->
            <if test="sellStartTime != null">#{sellStartTime},</if>
<!--            <if test="sellEndTime != null">#{sellEndTime},</if>-->
            #{createTime}, #{updateTime}
        </trim>
    </insert>

    <delete id="deleteByNftId">
        delete from
        t_product
        where nft_id = #{nftId}
    </delete>

    <update id="updateByNftId">
        update t_product
        <set>
            <if test="nftStatus != null">nft_status = #{nftStatus},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="circulation != null">circulation = #{circulation},</if>
            <if test="reserveStartTime != null">reserve_start_time = #{reserveStartTime},</if>
            <if test="sellStartTime != null">sell_start_time = #{sellStartTime},</if>
            update_time = #{updateTime}
        </set>
        where nft_id = #{nftId}
    </update>

    <update id="updateStock">
        update t_product_stock
        <set>
            <if test="stock != null">stock = #{stock},</if>
        </set>
        where product_id = #{productId}
    </update>

    <update id="optimisticLockUpdateStock">
        update t_product_stock set stock = stock - #{stock} where product_id = #{productId} and stock - #{stock} >= 0
    </update>

    <select id="selectStock" resultType="java.lang.Integer">
        select stock
        from t_product_stock where product_id = #{productId}
    </select>

    <insert id="insertStock">
        insert into t_product_stock (product_id, stock) values (#{param1}, #{param2})
    </insert>

</mapper>