<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.nft.mapper.TemporaryMapper">

    <insert id="linshi" parameterType="com.tencent.nft.entity.security.Temporarysave">
        INSERT INTO temporarysave (save) VALUES (#{save});
    </insert>

</mapper>